<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
</head>
<style>
	h2{
		margin: 30px;
	}
	option{
		height: 50px;
		overflow-y: true;
	}
	.col-sm-4{
		margin-bottom: 20px;
		border:1px solid #ccc;
		height: auto;
	}
	.search_btn{
		width: 100px;
	}
	.time{
		width: 110px;
	}
	.img-size{
		max-width: 200px;
	}

</style>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container">
		<div class="col-md-3">
			{include file="public/sorand/left.html"}
		</div><!-- col-md-3 -->

		<div class="col-md-9">
			<div class="panel panel-default ">
				<div class="panel-heading">
					<h4>通知</h4>
				</div>
				<div class="panel-body">
				<?php foreach ($notification as $key => $val): ?>
					<div class="col-sm-4" id="arti">
					
						{$val['title']}　　　{$val['note_time']}<br/>
						<!-- {$val['notification']}<br/> -->
						<?php 
						$arr=json_decode($val['notification'],1);
						echo($arr);
						 ?>
						<a href="{:url('index/article/del_notification')}?id={$val['id']}" class="btn" onclick="return my_confirm(1);" >删除通知</a>
						<a href="{:url('index/article/show_update_notification')}?id={$val['id']}" class="btn">修改通知</a>
					</div>
				<?php endforeach ?>	

				</div>

				<div class="panel-heading">
					<h4>添加通知</h4>
				</div>
				<div class="panel-body">
					<form action="{:url('index/article/add_notification')}"  method="post">
						通知标题 <input type="text" name="title">	<br/>
						通知内容 <textarea name="notification"></textarea>	<br/>
						<input type="submit" value="提交">
					</form>
				</div>
				
			
			</div>

		</div>
	</div>


	<script>
		function my_confirm(num){
			if(num==1){
				return confirm("确定删除？");
			}

		}
	</script>

</body>
</html>

