<!doctype html>

<meta charset="utf-8">
{include file="public/sorand/title.html"}
<meta name="viewport" content="width=device-width">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">


<link rel="stylesheet" href="/public/date/demo/styles/main.css">
<link rel="stylesheet" href="/public/date/lib/themes/default.css" id="theme_base">
<link rel="stylesheet" href="/public/date/lib/themes/default.date.css" id="theme_date">
<link rel="stylesheet" href="/public/date/lib/themes/default.time.css" id="theme_time">
<style>
    .picker__nav--next,.picker__nav--prev{
        height: 40px;
    }
</style>



<body>
     <input class="js__datepicker" type="text" placeholder="请输入时间：">


    <!-- <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <script src="/public/date/lib/picker.js"></script>
    <script src="/public/date/lib/picker.date.js"></script>
    <script src="/public/date/lib/picker.time.js"></script>
    <script src="/public/date/demo/scripts/main.js"></script>
   


</body>