<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
</head>

<body>
<style>
	.container{
		text-align: center;
	}
	.input-group{
		margin-top: 25px;
	}	
	.well{
		width:500px;
	}
	.empty{
		height: 100px;
	}
	h3{
		font-weight: bold;
		color: #888; 
	}
	hr{
		height:1px;border:none;border-top:1px dashed #ccc;
	}
	.btn-control{
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.btn{
		margin-left: 50px;
		margin-right: 50px;
	}
	@media screen and (max-width: 520px){
		.well{
			width:300px;
		}
		.btn{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
</style>
	<div class="container text-center">
		<div class="empty"></div>
		<div class="well center-block">
		<h3>玛瑞娅半永久预约系统</h3>
		<hr/>
		<form action="{$Think.const.URL_PATH}Index/login/login_do" method="post">
			<div class="input-group">
				<span class="input-group-addon">用户名</span>
				<input type="text" class="form-control" placeholder="请输入用户名" name="username">
			</div>
			<div class="input-group">
				<span class="input-group-addon">密　码</span>
				<input type="password" class="form-control" placeholder="请输入密码" name="password">
			</div>
			<div class="btn-control">
				<button class="btn btn-info" type="submit">登录</button>
				<button class="btn btn-warning" type="reset">重填</button>
			</div>
			
		</form>
		</div>
	</div>
</body>
</html>