<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.input-group{
			margin-top: 20px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}
		th{
			text-align: center;
		}
		.drop_width{
			width: 100px;
		}
		.dropdown{
			float:right;
			position: relative;
			top:-5px;
		}
		.control{
			width: 200px;
		}
	</style>
</head>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container text-center">
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>
					权限分类修改
				</h4>
			</div>
			<div class="panel panel-body">
				<form action="{:url('index/auth/update_sort_do')}?id={$_GET['id']}" method="post">
					<div class="input-group">
						<span class="input-group-addon">权限分类</span>
						<input type="text" class="form-control" name="sort_name"  placeholder="分类说明-如：预约(全部)，预约（增、查）" value="{$sort['sort_name']}">
					</div>
					<div class="input-group">
						<span class="input-group-addon">选择组</span>
						<select name="group" class="form-control">
						<?php foreach($group as $val):?>
						<?php if($sort['group_id']==$val['id']):?>
							<option value="{$val['id']}-{$val['group_name']}" selected="selected">{$val['id']}-{$val['group_name']}</option>
						<?php else:?>
							<option value="{$val['id']}-{$val['group_name']}">{$val['id']}-{$val['group_name']}</option>
						<?php endif;?>

						<?php endforeach;?>
						</select>
					</div>
					
					<div class="btn-control">
						<button class="btn btn-primary" type="submit" id="submit">提交</button>
						<button class="btn btn-default" type="reset">重填</button>
					</div>
				</form>
			</div>
		</div>
		
		
	</div>	
	<script>
	function check(){
		return confirm("确认删除？");
	}
	</script>
</body>
</html>

