*{
	font-family: 微软雅黑；
}

.main{
	width: 1300px;
	margin:0 auto; 
}
.top{
	height: 100px;
	background: #272822;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
.left{
	height: 400px;
	background: #272822;
	line-height: 400px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 642px;
	float: left;
}
.right{
	height: 400px;
	background: #272822;
	line-height: 400px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	width: 642px;
	float: right;
}
.bottom{
	height: 100px;
	background: #272822;
	line-height: 100px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
.nav{
	height: 15px;
	clear: both;
}