<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
	{include file="public/sorand/title.html"}
</head>
    <body>
                   	{include file="public/sorand/header.html"}

	<div class="container">
		<div class="col-md-3">
		{include file="public/sorand/left.html"}
		
		</div><!-- col-md-3 -->

		<div class="col-md-9">
        <table class="table table-bordered table-striped">
				<tr>
					<th>id</th>
					<th>店铺名称</th>
					<th>地址</th>
					<th>电话</th>
					<th>qq</th>
					<th>微信</th>
                                        <th>项目</th>
					 <th>操作功能</th>
				</tr>
				<?php foreach ($appo_info as $v) :?>
                                 
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['shopname']}</td>
					<td>{$v['position']}</td>
					<td>{$v['tel']}</td>
					<td>{$v['qq']}</td>
					<td>{$v['weixin']}</td>
                                       
                                        <td>{$v['pname']}</td>
                                        
				<td>
                                       	
				        <span class="text-explode"></span>
                                        <a href="{:url('index/shop/shopEdit')}?id={$v['id']}" >编辑</a>
                                         <span class="text-explode">|</span>
                                        <a  href="{:url('index/shop/shopDelete')}?id={$v['id']}"  class="del">删除</a>
					</td>	
				</tr>
                             
				<?php endforeach; ?>
			</table>
                      </div> 
                 </div>
         <div style="text-align:center;">  {$appo_info->render()}</div>
         <script>
            $(".del").click(function(){ 
               return  confirm('确定删除');
               }) 

        </script>
    </body>
</html>
