<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.input-group{
			margin-top: 20px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}
		th{
			text-align: center;
		}
	</style>
</head>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container text-center">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h4>
				权限目录修改
			</h4>
			</div>
			<div class="panel panel-body">
				<form action="{:url('index/auth/update_url_do')}" method="post">
					<div class="input-group">
						<span class="input-group-addon">目录名称</span>
						<input type="text" class="form-control" name="title"  placeholder="目录功能-如：查看预约" value="{$auth['title']}">
					</div>
					<div class="input-group">
						<span class="input-group-addon">目录位置</span>
						<input type="text" class="form-control" name="request_uri" placeholder="格式（如）：/index.php/index/index/index" value="{$auth['request_uri']}" readonly>
					</div>
					<div class="input-group">
						<span class="input-group-addon">分组</span>
						<select name="group" class="form-control">
							<option value="">无分组</option>
							<?php foreach($group as $val):?>
								<?php if($val['id']==$auth['group_id']):?>
									<option value="{$val['id']}-{$val['group_name']}" selected="selected">
								<?php else:?>
									<option value="{$val['id']}-{$val['group_name']}">
								<?php endif;?>
							{$val['id']}-{$val['group_name']}</option>

							<?php endforeach;?>
						</select>
					</div>
					<input type="hidden" name="id" value="{$_GET['id']}">
					<div class="btn-control">
						<button class="btn btn-primary" type="submit" id="submit">提交</button>
						<button class="btn btn-default" type="reset">重填</button>
					</div>
				</form>
			</div>
		</div>

	</div>	

</body>
</html>

