<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.input-group{
			margin-top: 20px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}
		th{
			text-align: center;
		}
		.drop_width{
			width: 100px;
		}
	</style>
</head>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container text-center">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h4>
				权限级别添加
			</h4>
			</div>
			<div class="panel panel-body">
				<form action="{:url('index/auth/add_level')}" method="post">
					<div class="input-group">
						<span class="input-group-addon">权限组名</span>
						<input type="text" class="form-control" name="title"  placeholder="权限组名-如：管理员、导师、店长等">
					</div>
					
					<div class="btn-control">
						<button class="btn btn-primary" type="submit" id="submit">提交</button>
						<button class="btn btn-default" type="reset">重填</button>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
			<h4>
				权限级别查看
			</h4>
			</div>
			<div class="panel panel-body">
				<table class="table">
					<tr>
						<th>id</th><th>级别名称</th><th>创建时间</th><th>修改时间</th><th class="drop_width">管理</th>
					</tr>
					<?php foreach($auth as $v):?>
					<tr>
						<td>{$v['id']}</td>
						<td>{$v['title']}</td>
						<td>{$v['create_time']}</td>
						<td>{$v['update_time']}</td>
						<td>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    操作
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
							    <li><a href='{:url("index/auth/user_level_update")}?id={$v["id"]}'>修改</a></li>
							    <li><a href='{:url("index/auth/user_level_delete")}?id={$v["id"]}' onclick="return check()">删除</a></li>

							    <li role="separator" class="divider"></li>
							  </ul>
							</div>
						</td>
					</tr>
						
					<?php endforeach;?>
				</table>
			</div>
		</div>
	</div>	
	<script>
	function check(){
		return confirm("请先将有此等级权限的用户更改权限等级，否则这些用户会不能使用系统，确认删除？");
	}
	</script>
</body>
</html>

