<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 20px;
		}
		.input-group{
			margin-top: 30px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}	
	</style>
</head>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container text-center">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h4>
				添加用户
			</h4>
			</div>
			<div class="panel panel-body">
				<form action="{$Think.const.URL_PATH}index/user/add_user_do" method="post" id="useradd">
					<div class="input-group">
						<span class="input-group-addon">用户名　</span>
						<input type="text" class="form-control" name="username">
					</div>
					<div class="input-group">
						<span class="input-group-addon">密　码　</span>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					<div class="input-group">
						<span class="input-group-addon">确认密码</span>
						<input type="password" class="form-control" id="repassword">
					</div>
					<div class="btn-control">
						<button class="btn btn-primary" type="submit" id="submit">提交</button>
						<button class="btn btn-default" type="reset">重填</button>
					</div>
				</form>
			</div>
		</div>
	</div>	
	<script>
	$('#submit').click(function(){
		var pass=$('#password').val();
		var repass=$('#repassword').val();
		if(pass==repass){
			alert('ok');
			
		}else{
			alert(pass+"::"+repass+"\r\n你输入的两次密码不同");
			return false
		}

	});
	
	</script>
</body>
</html>

