<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
</head>
	<style>
		.float-right{
			position: relative;
			float:right;
			top:-5px;
		}
	</style>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h4>
				用户信息 
				<a class="btn btn-primary float-right" href="{:url('Index/user/add_user')}">添加用户</a>
			</h4>
				
				
			</div>
			<table class="table table-bordered table-striped table">
				<tr>
					<th>id</th>
					<th>名称</th>
					<th>权限等级</th>
					<th>修改</th>
					<th>删除</th>
				</tr>
				<?php foreach($userinfo as $v):?>
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['username']}</td>
					<td>{$v['auth_level']}</td>
					<td><a href="{:url('index/user/update_user')}?id={$v['id']}" class="btn btn-warning btn-sm">修改</a></td>
					<td><a href="{:url('index/user/delete_user')}?id={$v['id']}" class="btn btn-danger btn-sm" onclick="return confirm_del();">删除</a></td>
				</tr>
				<?php endforeach;?>
			</table>
		</div>
	</div>	
	
</body>
<script>
// alert("aa");
		function confirm_del(){
			return confirm("确定删除？");
		}
		// $('#user_del').click(function(){
		// 	alert("shan");
		// 	// 
		// });
	</script>
</html>

