<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
</head>
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 20px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}
		.left-th{
			width:100px;
		}
		.adder{
			height: 100px;
		}
	</style>
<body>
	
{include file="public/sorand/header.html"}
<div class="container text-center">
	<div class="panel panel-info">
	<div class="panel-heading">
				客户信息
		</div>
		
			<table class="table table-bordered table-striped">
				<tr>
					<th class="left-th">id</th><td>{$info[0]['id']}</td>
				</tr>
				<tr>
					<th>姓名</th><td>{$info[0]['name']}</td>
				</tr>
				<tr>
					<th>性别</th><td>{$info[0]['sex']}</td>
				</tr>
				<tr>
					<th>是否到达</th><td><?php echo $info[0]['appointment_go']?'已到':'未到'?></td>
				</tr>
				<tr>
					<th>电话</th><td>{$info[0]['tel']}</td>
				</tr>
				<tr>
					<th>预约方式</th><td>{$info[0]['appointment_type']}</td>
				</tr>
				<tr>
					<th>预约类型</th><td>{$info[0]['appointment_style']}</td>
				</tr>
				<tr>
					<th>预约项目</th><td>{$info[0]['item']}</td>
				</tr>
				<tr>
					<th>定金</th><td>{$info[0]['bargain_money']}</td>
				</tr>
				<tr>
					<th>价格</th><td>{$info[0]['price']}</td>
				</tr>
				<tr>
					<th>添加时间</th><td>{$info[0]['add_time']}</td>
				</tr>
				<tr>
					<th>预约时间</th><td>{$info[0]['appointment_time']}</td>
				</tr>
				
				<tr>
					<th>位置</th><td>{$info[0]['position']}</td>
				</tr>
				

			<?php if(count($detail)):?>

				<tr>
					<th>微信</th><td>{$detail[0]['weixin']}</td>
				</tr>
				<tr>
					<th>QQ</th><td>{$detail[0]['qq']}</td>
				</tr>
				<tr>
					<th>商铺</th><td>{$detail[0]['shop']}</td>
				</tr>
				<tr>
					<th>导师</th><td>{$detail[0]['tutor']}</td>
				</tr>
				<?php else:?>
			<?php endif;?>
				<tr>
					<th class="adder">补充信息</th><td>{$info[0]['adder_info']}</td>
				</tr>
			</table>	
		
	</div>
</div>	
<script>

</script>
</body>
</html>

