<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<style>
		.btn{
			margin-left: 50px;
			margin-right: 50px;
		}
		.btn-control{
			margin-top: 30px;
			margin-bottom: 20px;
		}
		.input-group{
			margin-top: 30px;
		}
		.input-group-addon{
			background-color: #D9EDF6; 
		}	
	</style>
</head>
<body>
	
	{include file="public/sorand/header.html"}

	<div class="container text-center">
		<div class="panel panel-info">
			<div class="panel-heading">
			<h4>
				添加用户
			</h4>
			</div>
			<div class="panel panel-body">
				<form action="{$Think.const.URL_PATH}index/user/add_user_do" method="post" id="useradd">
					<div class="input-group">
						<span class="input-group-addon">用户名　</span>
						<input type="text" class="form-control" name="username" id="user">
					</div>
					<div id="show_user_info"></div>
					<div class="input-group">
						<span class="input-group-addon">密　码　</span>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					<div class="input-group">
						<span class="input-group-addon">确认密码</span>
						<input type="password" class="form-control" id="repassword">
					</div>
					<div class="input-group">
						<span class="input-group-addon">选择权限组</span>
						<select name="auth_level" class="form-control">
						<?php foreach($level as $val):?>
							<?php if($val['id']>=$_SESSION['auth_level']): ?>
								<option value="{$val['id']}">level{$val['id']}-{$val['title']}</option>
							<?php endif; ?>
						<?php endforeach;?>
	
						</select>
					</div>
					<div class="btn-control">
						<button class="btn btn-primary" type="submit" id="submit">提交</button>
						<button class="btn btn-default" type="reset">重填</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<input type="hidden" value="{$Think.const.URL_PATH}index/user/check_username" id="username_check_url">	
	<script>
	$('#submit').click(function(){
		var pass=$('#password').val();
		var repass=$('#repassword').val();
		if(pass!=repass){
			alert(pass+"::"+repass+"\r\n你输入的两次密码不同");
			return false;
		}else if(pass==""){
			alert("密码不能为空");
			return false;
		}
		else{
			alert('ok');
		}

	});
	$('#user').change(function(){
		url=$('#username_check_url').val()
		username=$('#user').val();
		// alert(url);
		$.post(url,{"username":username},function(data){
			// alert(data);
			if(data==1){
				
				$("#show_user_info").empty();
				$("#show_user_info").append("<font color='red'>用户名重复了，请换一个吧</font>");
			}else{
				$("#show_user_info").empty();
			}

		});
	});
	
	</script>
</body>
</html>

