<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}

	<link href="/public/css/Index.index.index.css" rel="stylesheet"></link>
	<!-- date专用 -->
	<link rel="stylesheet" href="/public/date/lib/themes/default.css" id="theme_base">
	<link rel="stylesheet" href="/public/date/lib/themes/default.date.css" id="theme_date">
	<link rel="stylesheet" href="/public/date/lib/themes/default.time.css" id="theme_time">
	<!-- date专用 -->
	<style>
		font{
			color:red;
			font-size: 15px;
		}

		
		@media screen and (max-width: 500px){
			.sex{
				margin: 0;
				padding: 0;
			}
			.empty-one{
				display: none;
			}
		}
	</style>
</head>
<body>
	{include file="public/sorand/header.html"}
<div class="container text-center">
	<div class="col-md-3">
		{include file="public/sorand/left.html"}
	</div><!-- col-md-3 -->

	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">
				新增登记
			</div>	
			
			<div class="panel panel-body">
			    <form action="{$Think.const.URL_PATH}/index/appointment/add_new" method="post" id="add_new_form">
			      	<div class="modal-body">
			    		<div class="input-group">
						  <span class="input-group-addon"><font>*</font>			客户名称：</span>
						  <input type="text" class="form-control" placeholder="请填写名称" name="name" id="guest_name">
						</div>
						<div class="input-group">
						  <span class="input-group-addon"><font>*</font> 客户电话：</span>
						  <input type="text" class="form-control" placeholder="请填写电话，多个电话请用空格隔开" name="tel" id="guest_tel">
						</div>
						<div class="input-group">
						  <span class="input-group-addon">客户微信：</span>
						  <input type="text" class="form-control" placeholder="" name="weixin" id="guest_weixin">
						</div>
						<div class="input-group">
						  <span class="input-group-addon"><font>*</font> 预约时间：</span>

						  <style>
							.picker__nav--next,.picker__nav--prev{
							height: 40px;
							}
						  </style>
						  <input class="form-control js__datepicker" type="text" placeholder="请输入日期：" name="time_date" id="time_date">
						  <span class="input-group-addon empty-one"></span>
						 	<select class="form-control" name="time_time" id="time_time">
						  	<option value="">-请选择-</option>
						  	<?php for($i=8;$i<17;$i++):?>
								<option value="{$i}:00">{$i}:00</option>
								<option value="{$i}:30">{$i}:30</option>
						  	<?php endfor;?>
						  </select>
						  
						</div>
						<div class="input-group">
						  <span class="input-group-addon">年龄：</span>
						  <select class="form-control" name="age" id="guest_age">
						  	<option value="">-请选择-</option>
						  	<?php for($i=14;$i<80;$i++):?>
								<option value="{$i}">{$i}</option>
						  	<?php endfor;?>
						  </select>
						  <span class="input-group-addon"><font>*</font> 性别：</span>
						  <span class="input-group-addon padding-small">
							<input type="radio"  name="sex" checked="checked"  value="女">
						  </span>
						  <span class="input-group-addon sex">女</span>
						  <span class="input-group-addon padding-small">
							<input type="radio"  name="sex" value="男">
						  </span>
						  <span class="input-group-addon sex">男</span>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">预约方式：</span>
						  <select class="form-control" name="appointment_type">
						  	<option value="0">-请选择-</option>
						  	<?php foreach ($appointment_type as $v) :?>
						  		<option value="{$v['appointment_type']}">{$v['appointment_type']}</option>
						  	<?php endforeach; ?>
						  </select>
						</div>
						<div class="input-group">
						  <span class="input-group-addon"><font>*</font> 预约类型：</span>
						  <select class="form-control" name="appointment_style">
						  	<option value="未选择">-请选择-</option>
						  	<?php foreach ($appointment_style as $v) :?>
						  		<option value="{$v['style']}">{$v['style']}</option>
						  	<?php endforeach; ?>
						  </select>
						</div>
						<div class="input-group">
						  <span class="input-group-addon"><font>*</font> 预约项目：</span>
						  <select class="form-control" name="item1" id="item1">
						  	<option value="0">-请选择-</option>
						  	<option value="半永久">半永久预约</option>
						  	<option value="脱毛">脱毛预约</option>
						  </select>
						  <span class="input-group-addon empty-one"></span>
						  <select class="form-control" name="item2"  id="item2">
						  	<option value="0">-请选择-</option>
						  </select>
						</div>
						<div class="input-group">
						  <span class="input-group-addon"><font>*</font> 支付方式：</span>
						  <select class="form-control" name="pay_type">
						  	<option value="0">-请选择-</option>
						  	<option value="微信">微信</option>
						  	<option value="支付宝">支付宝</option>
						  </select>
						</div>
						<div class="input-group">
						  <span class="input-group-addon">预约订金：</span>
						  <input type="text" class="form-control" placeholder="填入整数" name="bargain_money" id="guest_tel">
						</div>
						<div class="input-group">
						  <span class="input-group-addon">项目价格：</span>
						  <input type="text" class="form-control" placeholder="填入整数" name="price" id="price">
						</div>

						<!-- <div class="input-group">
						  <span class="input-group-addon">城市地点：</span>
						  <select name="city_provice" class="form-control" id="province">
						  	<option value="">-请选择(省)-</option>
						  	<?php foreach ($province as $v) :?>
						  		<option value="{$v['id']}-{$v['name']}">{$v['name']}</option>
						  	<?php endforeach; ?>
						  </select>
						  <select name="city_city" class="form-control" id="city">
						  	<option value="">-请先选择省-</option>
						  </select>
						  <select name="city_county" class="form-control" id="county">
						  	<option value="">-请先选择省-</option>
						  </select>
						</div> -->
						<div class="input-group">
						  <span class="input-group-addon">预约门店：</span>
						  <select name="shop_info" class="form-control" id="shop">
						  	<option value="">-请选择-</option>
						  	<?php foreach ($shop as  $val):?>
						  		<option value="{$val['id']}+{$val['shopname']}">{$val['shopname']}</option>

						  	<?php endforeach; ?>
						  </select>
						  
						</div>
						
						<div class="input-group">
						  <span class="input-group-addon">备注：</span>
						  <textarea name="adder_info" cols="30" rows="10"></textarea>
						</div>
			      	</div><!-- modal-body -->
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-primary" id="add_new_submit">确认</button>
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			      </div>
			    </form>
			</div>
		</div>
	</div>
</div>

<!-- 省市县三级联动隐藏地址（勿删） -->
<input type="hidden" value='{$city_get_url}' id="city_get_url">

<!-- 项目隐藏地址（勿删） -->
<input type="hidden" value='{$item_get_url}' id="item_get_url">

<script>
	// $("#province").change(function(){
	// 	$("#city").empty();
	// 	$("#city").append("<option value=''>-请选择(市)-</option>");
	// 	$("#county").empty();
	// 	$("#county").append("<option value=''>请再选择市</option>");
	// 	var id=$("#province").val();
	// 	var url=$("#city_get_url").val();
	// 	// alert(url);
	// 	$.get(url,{"id":id},function(data){
		
	// 		var obj = eval('(' + data + ')');
	// 		for (var i = 0; i < obj.length; i++) {
	// 			var append_val="<option value="+obj[i]['id']+'-'+obj[i]['name']+">"+obj[i]['name']+"</option>";
	// 			$("#city").append(append_val);
	// 		};
	// 	},"json");
	// });
	// $("#city").change(function(){
	// 	$("#county").empty();
	// 	$("#county").append("<option value=''>-请选择(县)-</option>");
	// 	var id=$("#city").val();
	// 	var url=$("#city_get_url").val();
	// 	$.get(url,{"id":id},function(data){
	// 		var obj = eval('(' + data + ')');
	// 		for (var i = 0; i < obj.length; i++) {
	// 			var append_val="<option value="+obj[i]['id']+'-'+obj[i]['name']+">"+obj[i]['name']+"</option>";
	// 			$("#county").append(append_val);
	// 		};
	// 	},"json");
	// });

	$("#item1").change(function(){
		$("#item2").empty();
		$("#item2").append("<option value=''>-请选择-</option>");
		
		var item1=$("#item1").val();
		// alert(item1);
		var url=$("#item_get_url").val();
		// alert(url);
		$.get(url,{"classify":item1},function(data){
			// alert(data);
		
			var obj = eval('(' + data + ')');
			for (var i = 0; i < obj.length; i++) {
				var append_val="<option value="+obj[i]['production']+">"+obj[i]['production']+"</option>";
				$("#item2").append(append_val);
			};
		},"json");
	});

	$("#add_new_submit").click(function(){
		var arr1=new Array();//表单id信息
		arr1=['guest_name','guest_tel','time_date','time_time'];

		var arr2=new Array();//表单ID内容
		arr2=['输入姓名','输入电话',"填入预约日期",'填入预约时间'];

		flag=0;
		for (var i =  0; i < arr1.length; i++) {
			id_info="#"+arr1[i];
			// alert(id_info);
			if($(id_info).val()){}else{
				alert('请'+arr2[i]);
				flag++;
				return false;
			}
		}

		if (!flag) {
			$("#add_new_form").submit();
		}
	});

</script>


	<!-- date专用 -->
	<script src="/public/date/lib/picker.js"></script>
    <script src="/public/date/lib/picker.date.js"></script>
    <script src="/public/date/lib/picker.time.js"></script>
    <script src="/public/date/demo/scripts/main.js"></script>
	<!-- date专用 -->
</body>
</html>
