<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
	{include file="public/sorand/title.html"}
</head>
    <body>
                   	{include file="public/sorand/header.html"}

	<div class="container">
		<div class="col-md-3">
		{include file="public/sorand/left.html"}
		
		</div><!-- col-md-3 -->

		<div class="col-md-9">
        <table class="table table-bordered table-striped">
				<tr>
					<th>id</th>
					<th>用户名</th>
					<th>电话</th>
					<th>意见</th>
                                        <th>操作</th>
					
				</tr>
				<?php foreach ($info as $v) :?>
                                 
				<tr>
					<td>{$v['id']}</td>
				        <td>{$v['username']}</td>
                                        <td>{$v['phone']}</td>
                                      
                                        <td>{$v['view']}</td>
				<td>
                              
                                 
                                        <a  href="{:url('index/shop/shopDelete')}?id={$v['id']}"  class="del">删除</a>
					</td>	
				</tr>
                             
				<?php endforeach; ?>
			</table>
                      </div> 
                 </div>
         <script>
            $(".del").click(function(){ 
               return  confirm('确定删除');
               }) 

        </script>
    </body>
</html>
