<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
	<link href="/public/css/Index.index.index.css" rel="stylesheet"></link>
	<!-- date专用 -->
	<link rel="stylesheet" href="/public/date/lib/themes/default.css" id="theme_base">
	<link rel="stylesheet" href="/public/date/lib/themes/default.date.css" id="theme_date">
	<link rel="stylesheet" href="/public/date/lib/themes/default.time.css" id="theme_time">
	<!-- date专用 -->
</head>
<body>
	{include file="public/sorand/header.html"}
	<div class="container">
	
		<div class="col-md-3">
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">	
					<h4 class="panel-title"  href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
						<b class="font-gray">快捷操作</b>
					</h4>
				</div>
				<div class="panel-collapse collapse in" id="collapseOne">
					<div class="panel-body">
						<div class="row">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRegister">
							  新增登记
							</button>
						</div>
						<div class="row">
							<a href="{$Think.const.URL_PATH}Index/Index/appointment_info" class="btn btn-primary" id="appointment_info">预约信息</a>
						</div>
						<div class="row">
							<a href="{:url('Index/Index/')}" class="btn btn-primary" id="appointment_info">到达信息</a>
						</div>
						<div class="row">
							<button class="btn btn-primary">数据导出..</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"  href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
						<b class="font-gray">常用操作（...）</b></h4>
					</h4>
				</div>
				<div class="panel-collapse collapse" id="collapseTwo">
					<div class="panel-body">
						<div class="row">
							<button class="btn btn-primary">基础数据</button>
						</div>
						<div class="row">
							<button class="btn btn-primary">综合统计</button>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					

					<h4 class="panel-title"  href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
						<b class="font-gray">系统管理</b></h4>
					</h4>
				</div>
				<div class="panel-collapse collapse" id="collapseThree">
					<div class="panel-body">
						<div class="row">
							<button class="btn btn-primary">系统设置</button>
						</div>
						<div class="row">
							<button class="btn btn-primary">基础配置</button>
						</div>
						<div class="row">
							<button class="btn btn-primary">短信配置</button>
						</div>
						<div class="row">
							<button class="btn btn-primary">价格设置</button>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					

					<h4 class="panel-title"  href="#collapse4" data-toggle="collapse" data-parent="#accordion">
						<b class="font-gray">商店管理</b></h4>
					</h4>
				</div>
				<div class="panel-collapse collapse" id="collapse4">
					<div class="panel-body">
						<div class="row">
							<a href='{:url("index/shop/add")}' class="btn btn-primary" id="appointment_info">添加商店</a>
						</div>
						<div class="row">
							<a class="btn btn-primary" id="appointment_info" href='{:url("index/shop/index")}'>查看商店</a>
						</div>
						<div class="row">
							<a class="btn btn-primary" id="appointment_info" href='{:url("index/production/add")}'>添加产品</a>
						</div>
						<div class="row">
							<a class="btn btn-primary" id="appointment_info" href='{:url("index/production/index")}'>查看产品</a>
						</div>
					</div>
				</div>
			</div>
		</div><!-- panel-group -->
		</div><!-- col-md-3 -->

		<div class="col-md-9">
			<div class="well">
				<div role="tabpanel">

				  <!-- Nav tabs -->
				  <ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页信息</a></li>
				    <!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
				    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
				    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active text-center" id="home">
				    	<h3>今天预约人数共0人</h3>
				    	<h3>今天预约人数已到0人</h3>
				    	<h3>今天预约人数未到0人</h3>
				    </div>
				    
				  </div>

				</div>
			</div>
			
		</div><!-- col-md-9 -->
	</div><!-- container	 -->

	<div class="container">
		<div class="well">
			底部区域：各类信息（备案，公司地址。。）
		</div>
	</div>
	



<!-- Modal -->
<div class="modal fade" id="newRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新增登记</h4>
      </div>
    <form action="{$Think.const.URL_PATH}/index/index/add_new" method="post" id="add_new_form">
      	<div class="modal-body">
    		<div class="input-group">
			  <span class="input-group-addon">客户名称：</span>
			  <input type="text" class="form-control" placeholder="请填写名称" name="name" id="guest_name">
			</div>
			<div class="input-group">
			  <span class="input-group-addon">客户电话：</span>
			  <input type="text" class="form-control" placeholder="请填写电话，多个电话请用空格隔开" name="tel" id="guest_tel">
			</div>
			<div class="input-group">
			  <span class="input-group-addon">预约时间：</span>

			  <style>
				.picker__nav--next,.picker__nav--prev{
				height: 40px;
				}
			  </style>
			  <input class="form-control js__datepicker" type="text" placeholder="请输入日期：" name="time_date" id="time_date"><span class="input-group-addon"></span>
			 	<select class="form-control" name="time_time" id="time_time">
			  	<option value="">-请选择-</option>
			  	<?php for($i=8;$i<17;$i++):?>
					<option value="{$i}:00">{$i}:00</option>
					<option value="{$i}:30">{$i}:30</option>
			  	<?php endfor;?>
			  </select>
			  
			</div>
			<div class="input-group">
			  <span class="input-group-addon">性别：</span>

			  <span class="input-group-addon padding-small">
				<input type="radio"  name="sex" checked="checked"  value="女">
			  </span>
			  <span class="input-group-addon">女</span>
			  <span class="input-group-addon padding-small">
				<input type="radio"  name="sex" value="男">
			  </span>
			  <span class="input-group-addon">男</span>

			  <span class="input-group-addon">年龄：</span>
			  <select class="form-control" name="age" id="guest_age">
			  	<option value="">-请选择-</option>
			  	<?php for($i=14;$i<80;$i++):?>
					<option value="{$i}">{$i}</option>
			  	<?php endfor;?>
			  </select>
			</div>
			<div class="input-group">
			  <span class="input-group-addon">预约方式：</span>
			  <select class="form-control" name="appointment_type">
			  	<option value="0">-请选择-</option>
			  	<?php foreach ($appointment_type as $v) :?>
			  		<option value="{$v['appointment_type']}">{$v['appointment_type']}</option>
			  	<?php endforeach; ?>
			  </select>
			</div>
			<div class="input-group">
			  <span class="input-group-addon">预约类型：</span>
			  <select class="form-control" name="appointment_style">
			  	<option value="未选择">-请选择-</option>
			  	<?php foreach ($appointment_style as $v) :?>
			  		<option value="{$v['style']}">{$v['style']}</option>
			  	<?php endforeach; ?>
			  </select>
			</div>
			<div class="input-group">
			  <span class="input-group-addon">预约项目：</span>
			  <select class="form-control" name="item">
			  	<option value="0">-请选择-</option>
			  </select>
			</div>
			<div class="input-group">
			  <span class="input-group-addon">预约订金：</span>
			  <input type="text" class="form-control" placeholder="填入整数" name="bargain_money" id="guest_tel">
			</div>
			<div class="input-group">
			  <span class="input-group-addon">项目价格：</span>
			  <input type="text" class="form-control" placeholder="填入整数" name="price" id="guest_tel">
			</div>
			<div class="input-group">
			  <span class="input-group-addon">城市地点：</span>
			  <select name="city_provice" class="form-control" id="province">
			  	<option value="">-请选择(省)-</option>
			  	<?php foreach ($province as $v) :?>
			  		<option value="{$v['id']}-{$v['name']}">{$v['name']}</option>
			  	<?php endforeach; ?>
			  </select>
			  <select name="city_city" class="form-control" id="city">
			  	<option value="">-请先选择省-</option>
			  </select>
			  <select name="city_county" class="form-control" id="county">
			  	<option value="">-请先选择省-</option>
			  </select>
			</div>
			
			<div class="input-group">
			  <span class="input-group-addon">备注：</span>
			  <textarea name="adder_info" cols="30" rows="10"></textarea>
			</div>
      	</div><!-- modal-body -->
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" id="add_new_submit">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </form>

    </div>
  </div>
</div>

<!-- 省市县三级联动隐藏地址（勿删） -->
<input type="hidden" value='{$city_get_url}' id="city_get_url">

<script>
	$("#province").change(function(){
		$("#city").empty();
		$("#city").append("<option value=''>-请选择(市)-</option>");
		$("#county").empty();
		$("#county").append("<option value=''>请再选择市</option>");
		var id=$("#province").val();
		var url=$("#city_get_url").val();
		// alert(url);
		$.get(url,{"id":id},function(data){
		
			var obj = eval('(' + data + ')');
			for (var i = 0; i < obj.length; i++) {
				var append_val="<option value="+obj[i]['id']+'-'+obj[i]['name']+">"+obj[i]['name']+"</option>";
				$("#city").append(append_val);
			};
		},"json");
	});
	$("#city").change(function(){
		$("#county").empty();
		$("#county").append("<option value=''>-请选择(县)-</option>");
		var id=$("#city").val();
		var url=$("#city_get_url").val();
		$.get(url,{"id":id},function(data){
			var obj = eval('(' + data + ')');
			for (var i = 0; i < obj.length; i++) {
				var append_val="<option value="+obj[i]['id']+'-'+obj[i]['name']+">"+obj[i]['name']+"</option>";
				$("#county").append(append_val);
			};
		},"json");
	});

	$("#add_new_submit").click(function(){
		var arr1=new Array();//表单id信息
		arr1=['guest_name','guest_tel','time_date','time_time','province','city'];

		var arr2=new Array();//表单ID内容
		arr2=['输入姓名','输入电话',"填入预约日期",'填入预约时间','选择省','选择市'];

		flag=0;
		for (var i =  0; i < arr1.length; i++) {
			id_info="#"+arr1[i];
			// alert(id_info);
			if($(id_info).val()){}else{
				alert('请'+arr2[i]);
				flag++;
				return false;
			}
		}

		if (!flag) {
			$("#add_new_form").submit();
		}
	});


</script>


	<!-- date专用 -->
	<script src="/public/date/lib/picker.js"></script>
    <script src="/public/date/lib/picker.date.js"></script>
    <script src="/public/date/lib/picker.time.js"></script>
    <script src="/public/date/demo/scripts/main.js"></script>
	<!-- date专用 -->
</body>
</html>
