<!DOCTYPE html>
<html lang="en">
<head>
	{include file="public/sorand/title.html"}
</head>
	
<body>
	
	{include file="public/sorand/header.html"}
<div class="container">
	<div class="panel panel-default text-center">
			<div class="panel-heading">
				<h4>预约到达信息</h4>
			</div>
			<table class="table table-bordered table-striped">
				<tr>
					<th>id</th>
					<th>姓名</th>
					<th>到达时间</th>
					<th>操作</th>
				</tr>
				<?php foreach($arrive as $v):?>
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['name']}</td>
					<td>{$v['arrive_time']}</td>
					<td>

					<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    操作
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
						    <li><a href='{:url("index/appointment/show_detail")}?ap_id={$v["appo_id"]}'>详细内容</a></li>
						    

						    
						  </ul>
						</div>

					</td>
				</tr>
			<?php endforeach;?>
			</table>

</div>

</body>
</html>

